<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>change password</title>
</head>
<body>

<section>
	
	  <div class="container text-center mt-5">
		 <div class="row">
		 <div class="col-md-8 offset-md-2">
		 <div class="card">
		 
		 <div class="card-body mt-3">
		     <div class="alert alert-primary" role="alert">
            Enter your new password
          </div>
          
          
         
		   <form th:action="@{/change-password}" method="post">
		   
		   
		   <div class="form-group">
		   <input required="required" name="newpassword" type="password" placeholder="Enter new password here" class="form-control" />
		   </div>

		   </div>
		   
		  
		   <div class="container text-center">
		   <button class="btn btn-primary">change password</button>
		   </div>
		   
		   </form>
		 </div>
		 </div>
		 </div>
		 </div>
		 </div>
		
    
	
	</section>
	
	
	
</body>
</html>